<template>
  <v-container>
    Logout... please wait
    {{ authentificationStatus }}
  </v-container>
</template>

<script>
// Imports
import { mapState } from 'vuex'

export default {
  name: 'Logout',

  components: {
  },

  props: {
  },

  data: () => ({
  }),

  computed: {
    ...mapState('auth', ['authentificationStatus'])
  },

  watch: {
  },

  async mounted () {
    await this.$store.dispatch('auth/logout')
    this.$router.push({ path: decodeURI(this.$route.query.redirect) || '' })
  },

  methods: {
  },

  head () {
    return { title: '' }
  }
}
</script>
